---
import SocialPill from "./SocialPill.astro";
import OpenTabIcon from "../icons/OpenTab.astro";
import GitHubIcon from "../icons/GitHub.astro";
import { type Technology } from "../data/technologies";

interface Props {
  title: string;
  technologies: Technology[];
  description: string;
  github: string;
  link: string;
  image: string;
}

const { title, image, technologies, description, github, link } = Astro.props;
---

<article
  class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0"
>
  <div class="w-full md:w-1/3">
    <div
      class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50"
    >
      <img
        alt={`Vista previa de ${title}`}
        class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-105 md:group-hover:scale-120"
        loading="lazy"
        src={`${import.meta.env.BASE_URL}${image}`}
      />
    </div>
  </div>

  <div class="w-full md:w-2/3 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2 flex-wrap gap-y-1.5">
        {
          technologies.map((technology) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${technology.class} py-1 px-2 `}
              >
                <technology.icon class="size-4" />
                {technology.name}
              </span>
            </li>
          ))
        }
      </ul>

      <div
        class="mt-2 text-gray-700 dark:text-gray-400 hover:text-gray-200 transition text-pretty"
      >
        <Fragment set:html={description} />
      </div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
        {
          github && (
            <SocialPill href={github}>
              <GitHubIcon class="size-6" />
              Código fuente
            </SocialPill>
          )
        }
        {
          link && (
            <SocialPill href={link}>
              <OpenTabIcon class="size-6" />
              Probar
            </SocialPill>
          )
        }
      </footer>
    </div>
  </div>
</article>
