---
import HtmlIcon from "../icons/Html.astro";
import BootstrapIcon from "../icons/Bootstrap.astro";
import JavaScriptIcon from "../icons/JavaScript.astro";
import CSharpIcon from "../icons/CSharp.astro";
import SocialPill from "./SocialPill.astro";
import GitHubIcon from "../icons/GitHub.astro";
import Html from "../icons/Html.astro";

const TECHNOLOGIES = {
  HTML: {
    name: "HTML",
    class: "bg-black text-white",
    icon: HtmlIcon,
  },
  Bootstrap: {
    name: "Bootstrap",
    class: "bg-white text-black",
    icon: BootstrapIcon,
  },
  JavaScript: {
    name: "JavaScript",
    class: "bg-black text-white",
    icon: JavaScriptIcon,
  },
  CSharp: {
    name: "C#",
    class: "bg-white text-black",
    icon: CSharpIcon,
  },
};

const PROJECTS = [
  {
    title: "Wefinz",
    description: "Software ERP en la nube para pequeñas y medianas empresas.",
    link: "https://www.wefinz.com",
    github: "#",
    image: "/projects/wefinz-shot.webp",
    technologies: [
      TECHNOLOGIES.HTML,
      TECHNOLOGIES.Bootstrap,
      TECHNOLOGIES.JavaScript,
      TECHNOLOGIES.CSharp,
    ],
  },
  {
    title: "Wefinz",
    description: "Software ERP en la nube para pequeñas y medianas empresas.",
    link: "https://www.wefinz.com",
    github: "#",
    image: "/projects/wefinz-shot.webp",
    technologies: [
      TECHNOLOGIES.HTML,
      TECHNOLOGIES.Bootstrap,
      TECHNOLOGIES.JavaScript,
      TECHNOLOGIES.CSharp,
    ],
  },
  {
    title: "Wefinz",
    description: "Software ERP en la nube para pequeñas y medianas empresas.",
    link: "https://www.wefinz.com",
    github: "#",
    image: "/projects/wefinz-shot.webp",
    technologies: [
      TECHNOLOGIES.HTML,
      TECHNOLOGIES.Bootstrap,
      TECHNOLOGIES.JavaScript,
      TECHNOLOGIES.CSharp,
    ],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(
      ({ title, description, link, github, image, technologies }) => (
        <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
          <div class="w-full md:w-1/2">
            <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
              <img
                alt={`Vista previa de ${title}`}
                class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-105 md:group-hover:scale-110"
                loading="lazy"
                src={image}
              />
            </div>
          </div>

          <div class="w-full md:w-1/2 md:max-w-lg">
            <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
              {title}
            </h3>
            <div class="flex flex-wrap mt-2">
              <ul class="flex flex-row mb-2 gap-x-2">
                {technologies.map((technology) => (
                  <li>
                    <span
                      class={`flex gap-x-2 rounded-full text-xs ${technology.class} py-1 px-2 `}
                    >
                      <technology.icon class="size-4" />
                      {technology.name}
                    </span>
                  </li>
                ))}
              </ul>

              <div class="mt-2 text-gray-700 dark:text-gray-400">
                {description}
              </div>
              <footer class="flex items-end justify-start mt-4 gap-x-4">
                {github && (
                  <SocialPill href={github}>
                    <GitHubIcon class="size-6" />
                    Code
                  </SocialPill>
                )}
                {link && (
                  <SocialPill href={link}>
                    <HtmlIcon class="size-6" />
                    Preview
                  </SocialPill>
                )}
              </footer>
            </div>
          </div>
        </article>
      )
    )
  }
</div>
